<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Find Food - Find the food you need, when you need it!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Find Food</a>

          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/restaurants/">By Restaurant Name</a></li>
            <li><a href="/cuisine/">By Style of Cuisine</a></li>
            <li><a href="/restauranttype/">By Restaurant Type</a></li>
            <li><a href="/states/">By State</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        {% block main %}
        <h1>Main block!</h1>
        <p>The information you wanted to be placed into the main block didn't quite make it to its final destination for some reason. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
      {% endblock %}
      </div>

      <footer>
        <p>&copy; Find Food 2011</p>

      </footer>

    </div> <!-- /container -->

  </body>
</html>

